<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">Simple War</h1>
      <p>Play a friendly game of Simple War!</p>
    </div>
  </div>

  <div class="container page">
    <!-- Logged in content -->
    <div *appShowAuthed="true">

      <mat-tab-group [selectedIndex]="selectedTab.value" (selectedIndexChange)="selectedTab.setValue($event)"
        (selectedTabChange)="selectedTabChange($event)" dynamicHeight>
        <mat-tab label="Wars">
          <!-- Game List -->
          <div class="content-center">
            <br />
            <!-- My Games -->
            <mat-toolbar color="primary">
              <span>My Simple Wars</span>
              <span class="spacer"></span>
              <mat-icon (click)="createGame()" class="create-game-icon">queue</mat-icon>
            </mat-toolbar>
            <mat-grid-list *ngIf="games.length > 0" rowHeight="10rem" [cols]="gamesListNumCols">
              <mat-grid-tile *ngFor="let game of games; let i = index;">
                <mat-card>
                  <mat-card-header>
                    <mat-icon mat-card-avatar *ngIf="game.currentTurn" class="color-green" matListIcon>stay_current_landscape</mat-icon>
                    <mat-icon mat-card-avatar *ngIf="!game.currentTurn" class="color-red" matListIcon>stay_current_landscape</mat-icon>
                    <mat-card-title>Simple War against {{game.opponentName}}</mat-card-title>
                    <mat-card-subtitle>Score: {{game.points}} vs. {{game.opponentPoints}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions>
                    <button (click)="handleClickedGame(i, true)" align="end" mat-button>RESUME</button>
                  </mat-card-actions>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
            <p *ngIf="games.length === 0">You have no active Simple Wars.</p>

            <!-- Joinable Games List -->
            <mat-toolbar color="primary">
              <span>Joinable Simple Wars</span>
            </mat-toolbar>
            <mat-grid-list *ngIf="joinableGames.length > 0" rowHeight="10rem" [cols]="gamesListNumCols">
              <mat-grid-tile *ngFor="let game of joinableGames; let i = index;">
                <mat-card>
                  <mat-card-header>
                    <mat-icon mat-card-avatar *ngIf="game.currentTurn" class="color-green" matListIcon>stay_current_landscape</mat-icon>
                    <mat-icon mat-card-avatar *ngIf="!game.currentTurn" class="color-red" matListIcon>stay_current_landscape</mat-icon>
                    <mat-card-title>{{game.opponentName}}'s Simple War</mat-card-title>
                    <mat-card-subtitle>Created: {{game.createdDate}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions>
                    <button (click)="joinGame(game.id)" align="end" mat-button>JOIN</button>
                  </mat-card-actions>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
            <p *ngIf="joinableGames.length === 0">There are no waiting Simple Wars to join.</p>

            <!-- Completed Games -->
            <mat-toolbar color="primary">
              <span>Completed Simple Wars</span>
            </mat-toolbar>
            <mat-grid-list *ngIf="completedGames.length > 0" rowHeight="10rem" [cols]="gamesListNumCols">
              <mat-grid-tile *ngFor="let game of completedGames; let i = index;">
                <mat-card>
                  <mat-card-header>
                    <mat-icon mat-card-avatar *ngIf="game.winner===currentUser.username" class="color-green"
                      matListIcon>mood</mat-icon>
                    <mat-icon mat-card-avatar *ngIf="game.winner!==currentUser.username" class="color-red" matListIcon>mood_bad</mat-icon>
                    <mat-card-title>Simple War against {{game.opponentName}}</mat-card-title>
                    <mat-card-subtitle>Winner: {{game.winner}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions>
                    <button (click)="handleClickedGame(i, false)" align="end" mat-button>VIEW</button>
                  </mat-card-actions>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
            <p *ngIf="completedGames.length === 0">You have not completed any Simple Wars.</p>

          </div>
        </mat-tab>
        <mat-tab [disabled]="!inGameMode" label="Active War">
          <!-- One Game -->
          <div *ngIf="inGameMode" class="content-center">

            <br />

            <!-- Game Stats -->
            <mat-chip-list>
              <mat-chip>Opponent: {{activeGame.opponentName}}</mat-chip>
              <mat-chip>Status: {{activeGame.status}}</mat-chip>
              <mat-chip>Score: {{activeGame.points}} vs. {{activeGame.opponentPoints}}</mat-chip>
              <mat-chip>Number of Cards Played: {{activeGame.numCardsPlayed}}</mat-chip>
              <mat-chip>Number of Turns: {{activeGame.numTurns}}</mat-chip>
              <mat-chip>Created: {{activeGame.createdDate}}</mat-chip>
              <mat-chip>Player2 Joined : {{activeGame.player2JoinDate}}</mat-chip>
              <mat-chip>Last Modified: {{activeGame.lastModifiedDate}}</mat-chip>
              <mat-chip>Completed: {{activeGame.completedDate}}</mat-chip>
            </mat-chip-list>
            <br /><br />

            <!-- Game Board -->
            <mat-grid-list [cols]="4" gutterSize="10px" class="content-center">
              <mat-grid-tile *ngFor="let cell of activeGameCells; let i = index;" class="cell" (click)="handleClickedCell(i)">
                <div [ngClass]="cell.cards.length > 1 ? 'shrink' : ''">
                  <div *ngFor="let card of cell.cards">
                    <button *ngIf="card.owner===currentUser.username" color="accent" [matBadge]="card.might"
                      matBadgePosition="above before" mat-fab>
                      {{card.numTurnsOnBoard === 0 ? '*' : ''}}{{card.type}}{{card.numTurnsOnBoard === 0 ? '*' : ''}}
                    </button>
                    <button *ngIf="card.owner!==currentUser.username" color="warn" [matBadge]="card.might"
                      matBadgePosition="above before" mat-fab>
                      {{card.numTurnsOnBoard === 0 ? '*' : ''}}{{card.type}}{{card.numTurnsOnBoard === 0 ? '*' : ''}}
                    </button>
                  </div>
                </div>
              </mat-grid-tile>
            </mat-grid-list>

            <br />

            <mat-chip-list class="content-center center-children-wrapper">
              <mat-chip>Energy: {{activeGame.energy}}</mat-chip>
              <mat-chip>My Turn: {{activeGame.currentTurn}}</mat-chip>
            </mat-chip-list>

            <br />

            <!-- Cards in Hand -->
            <div class="content-center center-children-wrapper">
              <button *ngFor="let card of activeGame.cards; let i = index;" color="accent" [matBadge]="card.cost"
                matBadgePosition="below after" (click)="handleClickedCard(card, i)" mat-fab>
                {{card.type}}
              </button>
            </div>

            <br /><br />

            <!-- End Turn / Discard Hand Buttons -->
            <button *ngIf="activeGame.currentTurn && activeGame.status!=='COMPLETED'" (click)="endTurn(false)" class="fill-width-btn"
              mat-raised-button>End Turn</button>
            <br /><br />
            <button *ngIf="activeGame.currentTurn && activeGame.status!=='COMPLETED'" (click)="endTurn(true)" class="fill-width-btn"
              mat-raised-button>Discard Hand and End Turn</button>

          </div>
        </mat-tab>
        <mat-tab label="Allies">
          <!-- Friends and other players -->
          <div class="content-center">
            <br />
            <!-- My Friends List -->
            <mat-toolbar color="primary">
              <span>My Friends</span>
            </mat-toolbar>
            <mat-grid-list *ngIf="friends.length > 0" rowHeight="12rem" [cols]="gamesListNumCols">
              <mat-grid-tile *ngFor="let friend of friends; let i = index;">
                <mat-card>
                  <mat-card-header>
                    <mat-icon mat-card-avatar matListIcon>face</mat-icon>
                    <mat-card-title>{{friend.username}}</mat-card-title>
                    <mat-card-subtitle>Last Active: {{friend.lastActiveDate}}</mat-card-subtitle>
                    <mat-card-subtitle>Games: {{friend.numPlayed}}</mat-card-subtitle>
                    <mat-card-subtitle>Wins: {{friend.numWins}}</mat-card-subtitle>
                  </mat-card-header>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
            <p *ngIf="friends.length === 0">You have no Friends.</p>

            <!-- Other Players List -->
            <mat-toolbar color="primary">
              <span>Other Players</span>
            </mat-toolbar>
            <mat-grid-list *ngIf="otherPlayers.length > 0" rowHeight="14rem" [cols]="gamesListNumCols">
              <mat-grid-tile *ngFor="let player of otherPlayers; let i = index;">
                <mat-card>
                  <mat-card-header>
                    <mat-icon mat-card-avatar matListIcon>face</mat-icon>
                    <mat-card-title>{{player.username}}</mat-card-title>
                    <mat-card-subtitle>Last Active: {{player.lastActiveDate}}</mat-card-subtitle>
                    <mat-card-subtitle>Games: {{player.numPlayed}}</mat-card-subtitle>
                    <mat-card-subtitle>Wins: {{player.numWins}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions>
                    <button (click)="addFriend(player.username)" align="end" mat-button>ADD FRIEND</button>
                  </mat-card-actions>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
            <p *ngIf="otherPlayers.length === 0">There are no other Players.</p>

            <!-- Activity -->
            <mat-toolbar color="primary">
              <span>Activity</span>
            </mat-toolbar>
            <mat-grid-list *ngIf="playerActivities.length > 0" rowHeight="14rem" [cols]="gamesListNumCols">
              <mat-grid-tile *ngFor="let activity of playerActivities; let i = index;">
                <mat-card>
                  <mat-card-header>
                    <mat-icon mat-card-avatar *ngIf="activity.status === 'REQUESTED'" class="color-blue" matListIcon>done</mat-icon>
                    <mat-icon mat-card-avatar *ngIf="activity.status === 'ACCEPTED'" class="color-green" matListIcon>done_all</mat-icon>
                    <mat-icon mat-card-avatar *ngIf="activity.status === 'DECLINED'" class="color-red" matListIcon>clear</mat-icon>
                    <mat-card-title>{{activity.status}}</mat-card-title>
                    <mat-card-subtitle>From: {{activity.requester}}</mat-card-subtitle>
                    <mat-card-subtitle>To: {{activity.requestee}}</mat-card-subtitle>
                    <mat-card-subtitle>Requested: {{activity.requestDate}}</mat-card-subtitle>
                    <mat-card-subtitle>Response: {{activity.responseDate}}</mat-card-subtitle>
                  </mat-card-header>
                  <mat-card-actions *ngIf="activity.status === 'REQUESTED' && activity.requestee === currentUser.username">
                    <button (click)="respondToFriendRequest(activity.id, true)" align="end" mat-button>ACCEPT</button>
                    <button (click)="respondToFriendRequest(activity.id, false)" align="end" mat-button>DECLINE</button>
                  </mat-card-actions>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
            <p *ngIf="playerActivities.length === 0">You have no Activities.</p>

          </div>
        </mat-tab>
      </mat-tab-group>
    </div>

    <!-- Logged out content -->
    <div *appShowAuthed="false">
      Log in or register to see more content :)
    </div>

  </div>

</div>