.nav-link {
  cursor:pointer;
}

.tag-pill {
  cursor:pointer;
}

mat-list-item {
  cursor: pointer;
}

.color-green {
  color: #00FF00;
}

.color-red { 
  color: red; 
}

.cell {
  background-color: lightcyan;
}

.content-center {
  margin: 0 auto;
}

.fill-width-btn {
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.create-game-icon {
  cursor: pointer;
}

.center-children-wrapper {
  display: flex;
  justify-content: center;
}

.half-width {
  width:50%;
}

/* OLD CSS */

table {
  border: 2px solid greenyellow;
  border-radius: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 10px;
  background-color: greenyellow;
  margin: 40px auto;
}

td {
  font-size: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
  border-collapse: collapse;
  height: 75px;
  width: 75px;
  margin: 5px;
  display: inline-block;
  background: white;
}

tr {
  margin: 10px auto;
  display: block;
}

table tr td p {
  margin-bottom: 0;
  text-align: center;
}

#game-stats {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 2px solid green;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  text-align: center;
  margin-top: 30px;
}

#game-stats p {
  margin-top: 0;
  margin-bottom: 0;
}

.playable:hover {
  background-color: #E1FEE0;
  cursor: pointer;
}

#hand {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
  height: 140px;
  background-color: whitesmoke;
  width: 400px;
  margin: 40px auto;
  padding-left: 10px;
  padding-top: 10px;
}

#end-turn-btn-div {
  text-align: center;
}

#end-turn-btn {
  margin-bottom: 40px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: 2px solid red;
  border-radius: 10px;
  background-color: white;
  height: 40px;
  width: 400px;
}

#end-turn-btn:hover {
  background-color: lightpink;
  cursor: pointer;
}

#card {
  font-size: 10px;
  border: 2px solid #1c97ee;
  border-radius: 10px;
  display: inline-block;
  width: 75px;
  height: 100px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 10px;
  background-color: white;
}

#card:hover {
  background-color: lightcyan;
}

#card p {
  margin-bottom: 0;
  text-align: center;
}

.mine {
  color: green;
}

.notmine {
  color: red;
}

.highlight-card {
  background-color: lightcyan!important;
}

.just-drew {
  animation: border-fade 5s forwards;
}

@keyframes border-fade {
  0% {
    border: 2px solid greenyellow;
  }
  100% {
    border: 2px solid #1c97ee;
  }
}
